USE [master]
GO
/****** Object:  Database [Queue]    Script Date: 10/11/2018 3:31:11 PM ******/
CREATE DATABASE [Queue]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Queue', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Queue.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Queue_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Queue_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Queue].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Queue]
GO
USE [Queue]
GO
/****** Object:  Table [dbo].[test_details]    Script Date: 10/11/2018 3:31:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[details] [xml] NULL,
 CONSTRAINT [PK_test_details] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tester_table]    Script Date: 10/11/2018 3:31:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tester_table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test1] [varchar](50) NULL,
	[test2] [varchar](50) NULL,
	[button_test] [varchar](50) NULL,
	[document_test] [varchar](50) NULL,
	[bool_test] [bit] NULL,
	[refresh] [bit] NULL,
	[message] [varchar](500) NULL,
 CONSTRAINT [PK_tester_table] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 10/11/2018 3:31:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](150) NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type2_table]    Script Date: 10/11/2018 3:31:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type2_table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type2_thing] [bit] NULL,
	[type2_thing2] [varchar](50) NULL,
	[button_type2but] [varchar](50) NULL,
	[document_type2doc] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[q_Load_Details]    Script Date: 10/11/2018 3:31:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[q_Load_Details] @User varchar(50), @Type varchar(50), @Id int, @Contents varchar(500)
as
begin

    if @Type = 'Type1'
    begin
        select top(1) details from Queue.dbo.test_details
    end

    if @Type = 'Type2'
    begin
        select details from Queue.dbo.test_details
    end

end
GO
/****** Object:  StoredProcedure [dbo].[q_Load_List]    Script Date: 10/11/2018 3:31:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[q_Load_List] @User varchar(50), @Type varchar(50), @Date1 datetime=null, @Date2 datetime =null
as
begin

    if @Type = 'Type1'
    begin
        select * from Queue.dbo.tester_table
    end

    if @Type = 'Type2'
    begin
        select * from Queue.dbo.type2_table
    end

end
GO
/****** Object:  StoredProcedure [dbo].[q_Save_Details]    Script Date: 10/11/2018 3:31:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[q_Save_Details] @User varchar(50), @Type varchar(50), @Id int, @Contents varchar(500), @Xml xml
as
begin

    if @Type = 'Type1'
    begin
        select top(1) refresh, message from Queue.dbo.tester_table
    end

    if @Type = 'Type2'
    begin
		insert into Queue.dbo.type2_table(button_type2but) values ('stuff')
        select top(1) refresh, message from Queue.dbo.tester_table where id = 2
    end

end
GO
USE [master]
GO
